# Editor
.vscode

# Container file
/docker/mysql/*
!/docker/mysql/.gitkeep
/docker/redis/*
!/docker/redis/.gitkeep
/docker/rabbitmq/data/*
!/docker/rabbitmq/data/.gitkeep
/docker/rabbitmq/log/*
!/docker/rabbitmq/log/.gitkeep

# Application
/src